<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planter Boxes</title>
</head>
<body>
	<a href='/regen_graph/minute'>1min</a>
	<a href='/regen_graph/0.5'>30mins</a>
	<a href='/regen_graph/1'>1hr</a>
	<a href='/regen_graph/6'>6hrs</a>
	<a href='/regen_graph/12'>12hrs</a>
	<a href='/regen_graph/24'>24hrs</a>

    {% for box, graph in items%}
	<table style="border: 1px solid black;"><thead>
	  <tr>
		<td style="text-align: center; font-weight: bold;" rowspan="6">Box {{box.box}}</td>
		<td style="text-align: center; font-weight: bold;">sensor</td>
		<td></td>
		<td style="text-align: center; font-weight: bold;">last value</td>
		<td colspan="2" style="text-align: center; font-weight: bold;">set warning value</td>
	  </tr>

	  <tr>
		<td>Temperature</td>
		<td><img src='{{graph["temperature"]}}' alt="Graph cannot be displayed"></td>
		<td>{{box.temperature}} > </td>
		<td><form action='/update_warning/{{box.box}}/temperature' method="POST">
			<input type="text" name="temperature" id="temperature" >
			<input type="submit">
		</form></td>
	  </tr>

	  <tr>
		<td>Humidity</td>
		<td><img src='{{graph["humidity"]}}' alt="Graph cannot be displayed"></td>
		<td>{{box.humidity}} > </td>
		<td><form action='/update_warning/{{box.box}}/humidity' method="POST">
			<input type="text" name="humidity" id="humidity" >
			<input type="submit">
		</form></td>
	  </tr>

	  <tr>
		<td>Soil moisture</td>
		<td><img src='{{graph["soil"]}}' alt="Graph cannot be displayed"></td>
		<td>{{box.soil}} < </td>
		<td><form action='/update_warning/{{box.box}}/soil' method="POST">
			<input type="text" name="soil" id="soil" >
			<input type="submit">
		</form></td>
	  </tr>

	  <tr>
		<td>Light level</td>
		<td><img src='{{graph["light"]}}' alt="Graph cannot be displayed"></td>
		<td>{{box.light}} > </td>
		<td><form action='/update_warning/{{box.box}}/light' method="POST">
			<input type="text" name="light" id="light" >
			<input type="submit">
		</form></td>
	  </tr>
	  </thead>
	</table>
    {% endfor %}
</body>
</html>